<div id="tabCadastroRegistro">
    <div class="card">
        <div class="ui-fluid">
            <div class="ui-g-12" style="padding: 0 !important;">
                <div class="titulo">
                    <h1 class="h1Titulo">Cadastro de Loja</h1>
                </div>
                <p-card class="cad_cadastro ui-g-12 ">
                    <div class="ng-star-inserted">
                        <div class="ui-g ui-fluid">
                            <div class="ui-g-12 ui-lg-12">
                                <h4>Dados da loja</h4>
                                <hr>
                                <form class="ui-g form-group" (ngSubmit)="salvar()" #lojaForm="ngForm"> 
                                    <div class="ui-g-12">
                                        <div class="ui-g-12 ui-md-4">
                                            <span class="md-inputfield">
                                                <input type="text" pInputText  required  name="nome" class="ng-dirty ng-invalid" #nome="ngModel" id="nome" [(ngModel)]="loja.nome" />
                                                <label>Nome da loja</label>
                                            </span> 
                                        </div>
                                    </div>
                                    <div class="ui-g-12">
                                        <div class="ui-g-12 ui-md-4">
                                                <div class="ui-g-12 ui-md-4"><p-checkbox name="ativo" binary="true" label="ativo" [(ngModel)]="loja.ativo"></p-checkbox></div>               
                                        </div>
                                    </div>
                                    <div class="ui-g-12">
                                        <div class="ui-g-12 ui-md-4">
                                            <button pButton type="submit" [disabled]="lojaForm.form.invalid" label="Salvar"></button>
                                        </div>
                                    </div>
                    
                                </form>
                            </div>
                        </div>
                    </div>
                </p-card>         
            </div>
        </div>
    </div>
</div>
