<div id="tabCadastroRegistro">
    <div class="card">
        <div class="ui-fluid">
            <div class="ui-g-12" style="padding: 0 !important;">
                <div class="titulo">
                     <h1 class="h1Titulo">Produtos</h1>
                </div>
                <p-card class="cad_cadastro ui-g-12 ">
                    <div class="ng-star-inserted">
                        <div class="ui-g ui-fluid">
                            <div class="ui-g-12 ui-lg-12">
                                <div class="ui-g-12">
                                    <h4>Lista de fornecedores</h4>
                                    <hr>
                                </div> 
                                <p-dataView #dv [value]="produtoDto"
                                            [lazy]="true" (onLazyLoad)="loadLazy($event)" [paginator]="true" [rows]="10"
                                             filterBy="nome">
                                    <p-header>
                                        <div class="ui-helper-clearfix">
                                            <div class="ui-g">
                                                <div class="ui-g-12 ui-md-6 filter-container">
                                                    <div style="position:relative">
                                                        <input type="search" pInputText placeholder="Search by nome" (keyup)="dv.filter($event.target.value)">
                                                    </div>
                                                </div>
                                                <div class="ui-g-12 ui-md-6" style="text-align:right">
                                                    <p-button  type="button" icon="fas fa-plus" styleClass="ui-button-secondary-large" label="NOVO PRODUTO" [routerLink]="['/mantemProduto']"></p-button>
                                                   
                                                </div>
                                            </div>
                                            <hr>
                                        </div>
                                    </p-header>
                                    <ng-template let-produto pTemplate="listItem">
                                        <div class="ui-g" style="padding: 2em;border-bottom: 1px solid #d9d9d9">
                                            <div class="ui-g-12 ui-md-3" style="text-align:center">
                                                <img style=" width: 180px;" [src]='produto.imagem.url'>
                                            </div>
                                            <div class="ui-g-12 ui-md-8 ui-lg-8 car-details">
                                                <div class="ui-g">
                                                    <div class="ui-g-2 ui-sm-6">Nome: </div>
                                                   <div class="ui-g-10 ui-sm-6"><b>{{produto.produto.nome}}</b></div>
                                            
                                                    <div class="ui-g-2 ui-sm-6">Modelo: </div>
                                                    <div class="ui-g-10 ui-sm-6"><b>{{produto.produto.modelo}}</b></div>
                                            
                                                    <div class="ui-g-2 ui-sm-6">Preço: </div>
                                                    <div class="ui-g-10 ui-sm-6"><b>{{produto.produto.preco}}</b></div>
                                            
                                                    <div class="ui-g-2 ui-sm-6">Quantidade: </div>
                                                    <div class="ui-g-10 ui-sm-6"><b>{{produto.produto.quantidade}}</b></div>
                                                    
                                                    <div class="ui-g-2 ui-sm-6">Loja: </div>
                                                    <div class="ui-g-10 ui-sm-6"><b>{{produto.produto.loja.nome}}</b></div>
                                                </div>
                                            </div>
                                            <div class="ui-g-12 ui-md-1 ui-lg-1 search-icon">
                                                <div class="ui-g-12">
                                                    <p-button  icon="fas fa-edit" class="table-button" styleClass="ui-button-info" title="editar"  
                                                        routerLinkActive="active"  [routerLink]="['/editarProduto', produto.produto.id]"></p-button>
                                                </div>
                                                <div class="ui-g-12">
                                                    <p-button icon="far fa-trash-alt" class="table-button" title="excluir"  styleClass="ui-button-danger" (onClick)="excluir(fornecedor)"></p-button>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-template>
                                </p-dataView>
                            </div>
                        </div>
                    </div>
                </p-card>
            </div>
        </div>
    </div>
</div>    