.layout-wrapper {
    .layout-sidebar {
        position: fixed;
        width: 250px;
        height: 100%;
        top: 0;
        left: 0;
        -webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
        transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
        background-image: $sidebarBgColor;
        z-index: 999;
        transition: all 0.3s;

        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.23), 0 3px 10px rgba(0, 0, 0, 0.16);
        @include transition(left $sidebarAnimationDuration);
        overflow: visible;
   

        .logo {
            margin-left: 1em;
            display: inline-block;
            vertical-align: middle;
            color: $primaryTextColor;
            font-weight: initial;
            margin-block-start: 0.5em;
            width: 180px;
            padding: 1em 0em 0em 0em;
        }

        .menu-btn {
            display: inline-block;
             vertical-align: middle;
             padding: 1em 1em 0em 0em;
             float: right;
             height: 46px;  
            // margin-left: 2em;
             position: relative;
             top: 3px;
             -moz-transition: all 0.3s;
             -o-transition: all 0.3s;
             -webkit-transition: all 0.3s;
             transition: all 0.3s;
 
             &:hover{
                 -webkit-transform: scale(1.2);
                 -moz-transform: scale(1.2);
                 -o-transform: scale(1.2);
                 -ms-transform: scale(1.2);
                 transform: scale(1.2); 
             }
 
             i {
                 font-size: 2.0em;
                 color: $topbarIconColor;
 
                 -moz-transition: all 0.3s;
                 -o-transition: all 0.3s;
                 -webkit-transition: all 0.3s;
                 transition: all 0.3s;
                // font-size: 36px;
             }

            svg {
                font-size: 1.5em;
                color: $topbarIconColor;

                -moz-transition: all 0.3s;
                -o-transition: all 0.3s;
                -webkit-transition: all 0.3s;
                transition: all 0.3s;
               // font-size: 36px;
            }
 
             em {
                 font-size: 2.0em;
                 color: $topbarIconColor;
 
                 -webkit-font-smoothing: antialiased;
                 text-rendering: optimizeLegibility;
                 -moz-osx-font-smoothing: grayscale;
                 font-feature-settings: 'liga';
                 transition: 0.3s;
             }
             
          
         }

                 
        .ui-widget-content {
            border: 1px solid $sidebarBorderColor;
           // background-color: #ffffff;
           background-image: $sidebarBgColor;
           color: #D5D5D5;
        }

        .ui-scrollpanel {
            background-color: $sidebarBgColor;

            .ui-scrollpanel-bar {
                background-color: $sidebarBgColor;
                opacity: .3;
            }

            .layout-menu {
                padding-bottom: 120px;
                padding-top: 192px;

            }
        }

        .layout-menu {
            list-style-type: none;
            padding: 0;
            margin: 10px 0 0 0;
            width: 258px;

            > li {
                > a {
                    border-radius: 6px; 
                }
            }


            li {
                padding: 2px 0px 2px 2px;
                width: 100%;
                box-sizing: border-box;

                &.active-menuitem {
                    > a {
                        color: $menuitemActiveTextColor;
                        
                        i {
                            color:  $menuitemActiveTextColor
                        }
                        
                        i.layout-submenu-toggler {
                            transform: rotate(-180deg);
                        }
                    }
                }

                > a {
                    color: #ffffff;
                    display: block;
                    padding: 1.125em 0em 1.125em 2.18em;
                    position: relative;
                   // color:  $menuitemActiveTextColor;
                   -moz-border-radius: 0;
                   -webkit-border-radius: 0;
                    border-radius: 6px;
                    -webkit-box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    box-sizing: border-box;
                    -moz-transition: all 0.3s;
                    -o-transition: all 0.3s;
                    -webkit-transition: all 0.3s;
                    transition: all 0.3s;

                    &:hover {
                        background-color: $sidebarBgHoverColor;
                        color:  $menuitemActiveTextColor;

                        i {
                            color:  $menuitemActiveTextColor;
                        }
                    }
                    

                    > .menuitem-text {
                        display: inline-block;
                        max-width: 145px;
                    }

                    i {
                        @include transition(.3s);
                        transition: 0.3s;
                       // float: right;
                        width: 20px;
                        height: 20px;
                        font-size: 24px;
                       // position: absolute;
                        right: 10px;
                        top: 50%;
                        margin-top: -10px;
                        color: #ffffff;
                        // font-size: 2em;
                        margin-right:  1.063em;
                        vertical-align: middle;

                        &.layout-submenu-toggler {
                            @include transition(.3s);
                            //right: 34px;
                            display: inline-block;
                            margin-left: 1em;
                            font-size: 18px;
                            margin-top: 0;
                        }
                    }

                    .svg-inline--fa {
                        @include transition(.3s);
                        transition: 0.3s;
                        width: 20px;
                        height: 20px;
                        font-size: 24px;
                        right: 10px;
                        top: 50%;
                        margin-top: -10px;
                        color: #ffffff;
                        vertical-align: middle;
                        float: none;
                        margin-right: 1.063em;

                        &.layout-submenu-toggler {
                            @include transition(.3s);
                            display: inline-block;
                            margin-left: 1em;
                            font-size: 18px;
                            margin-top: 0;
                        }
                    }

                    .menuitem-badge {
                        display: none;
                        position: absolute;
                        right: 54px;
                        top: 50%;
                        margin-top: -8px;
                    }

                    &:hover {
                       // background-color: #133252;
                       background-color: $sidebarBgHoverColor;
                        opacity: 0.9;
                    }

                    
                }

                ul {
                    overflow: hidden;
                    list-style-type: none;
                    margin: 0;
                    padding-left: 1em;

                    li {
                       // padding: 4px 0;

                        a {
                            padding-left: 20px;
                        }

                        ul {
                            li {
                                a {
                                    padding-left: 30px;
                                }

                                ul {
                                    li {
                                        a {
                                            padding-left: 40px;
                                        }
                                    }

                                    ul {
                                        li {
                                            a {
                                                padding-left: 50px;
                                            }
                                        }

                                        ul {
                                            li {
                                                a {
                                                    padding-left: 60px;
                                                }
                                            }

                                            ul {
                                                li {
                                                    a {
                                                        padding-left: 70px;
                                                    }
                                                }

                                                ul {
                                                    li {
                                                        a {
                                                            padding-left: 80px;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            > li {
                > a {
                    @include border-radius(6px);
                    
                    &.active-menuitem-routerlink {
                        color:  $menuitemActiveTextColor;;
                    }
                }
                
                &.active-menuitem {
                    > a {
                        color: $menuitemActiveTextColor;
                        background-color: $menuitemActiveBgColor;
                        @include border-radius(6px);
                        @include border-radius-bottom(0);
                        @include multi-shadow(0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(60,72,88,.3),0 7px 10px -5px rgba(60,72,88,.1));

                        i {
                            color: $menuitemActiveTextColor;
                        }
                    }
                    
                    > ul {
                        background-color: $submenuBgColor;
                        @include border-radius-bottom(6px);
                    }
                }
            }  

            .menuitem-badge {
                float: right;
                display: inline-block;
                width: 16px;
                height: 16px;
                margin-right: 6px;
                text-align: center;
                background-color: $accentColor;
                color: $accentTextColor;
                font-size: $fontSize - 2;
                font-weight: 700;
                line-height: 16px;
                @include border-radius(50%);
            }

        }

        &.layout-sidebar-active {

            .menu-btn {
                em {
                    transform: rotate(-180deg);
                    transition: 0.3s;
                }
             }

            left: -190px;

            .layout-menu {
                li {
                    a {
                        i.layout-submenu-toggler {
                            display: inline-block;
                        }

                        .menuitem-badge {
                            display: inline-block;
                        }

                        .svg-inline--fa {
                            float: right;
                            margin-right: 1.3em;
                            transition: 0.3s !important;

                        }
                    }
                }
            }

           
        }
    }
}

#sideBarMenu{
    .ui-menu {
        width: 18em;
        padding: .25em;
    }

    .ui-menu ul {
        
        margin: 1em 0em 0em 0em;
    }

    .ui-state-active {
       border-color: $sidebarBgHoverColor;
        background-color: $sidebarBgHoverColor;
       // color: #212121;
    }

    .ui-menu .ui-menuitem-icon {
        margin-right: .25em;
        vertical-align: middle;
        float: right;
        bottom: .2em;
        position: relative;
        font-size: 2em;
    }

}