.layout-wrapper {

    &.layout-sidebar-active {
            
        #topbar {
            padding-left: 242px;
            transition:  0.3s

          
        }


    }

    #topbar{
        padding-left: 50px;;
    }

    .layout-topbar {
        height: 74.02px;
        background: #FFFFFF;
       // padding: 0.8em;
        position: fixed;
        width: 100%;
        left: 0;
        top: 0;
        z-index: 999;
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.23), 0 3px 10px rgba(0, 0, 0, 0.16);

        #logoSideBar{
            background: $sidebarBgColor;
        }
        
        .mobile-topbar-menu-btn{
          display: none;
        }

        .labelUsuario{
            display: inline-block;
            vertical-align: middle;
            color: #6f6f6f;
            font-size: 16px;
            margin-top: 7px;
            font-weight: bold;
            text-align: right;
        }

        .labelNomeCooperativa {
            color: #8a8a8a;
        }
     
        .menu-btn {
           display: inline-block;
            vertical-align: middle;

            height: 36px;
            margin-left: 2em;
            position: relative;
            top: 3px;
            -moz-transition: all 0.3s;
            -o-transition: all 0.3s;
            -webkit-transition: all 0.3s;
            transition: all 0.3s;

            &:hover{
                -webkit-transform: scale(1.2);
                -moz-transform: scale(1.2);
                -o-transform: scale(1.2);
                -ms-transform: scale(1.2);
                transform: scale(1.2); 
            }

            i {
                font-size: 2.0em;
                color: $topbarIconColor;

                -moz-transition: all 0.3s;
                -o-transition: all 0.3s;
                -webkit-transition: all 0.3s;
                transition: all 0.3s;
                font-size: 36px;
            }

            em {
                font-size: 1.8em;
                color: $topbarIconColor;

                -webkit-font-smoothing: antialiased;
                text-rendering: optimizeLegibility;
                -moz-osx-font-smoothing: grayscale;
                font-feature-settings: 'liga';
                transition: 0.3s;
            }
            
         
        }

        .logo {
           // margin-left: 0.5em;
            display: inline-block;
            vertical-align: middle;
            color:#0076BD;
            font-weight: initial;
          //  margin-block-start: 0.5em;
            background: $primaryTextColor;
            height: 74.02px;
            width: 250px;
           

            h1{
                font-size: 1.5em;
                text-align: center;
            }
        }

        .logo-cop{
            margin-left: 35em;

            display: inline-block;
            vertical-align: middle;
            width: 200px;
        }

        .topbar-button {
            @include border-radius(4px);
            border: 1px solid $loginTextColor;
            background: $loginTextColor;
           // box-shadow: 0 3px 10px rgba(0, 0, 0, 0.23), 0 3px 10px rgba(0, 0, 0, 0.16);
            color: $accentTextColor;
            height: 2.4em;
          //  min-width: 2em;
            float: right;
            display: block;
         //   font-size: 1em;
            margin: 11px 1em 0 0;

            &:hover{
              background: $loginTextColor;
              color: $topbarAccentBgColor;
              border: 1px solid  $loginTextColor;

              
              .ui-button-icon-right {
                     color: $topbarAccentBgColor;
                }
            }

            .ui-button-icon-right {
                width: 1em;
                height: 1em;
                color:$loginTextColor;
            }

          
        }

        .layout-topbar-menu-wrapper {
          .topbar-menu {
              list-style-type: none;
              margin: 0;
              padding: 0;
              margin: 0;
              -webkit-animation-duration: 0s;
              -moz-animation-duration: 0s;
              animation-duration: 0s;

              .topbar-badge {
                  width: 16px;
                  height: 16px;
                  text-align: center;
                  background-color: $accentColor;
                  color: $accentTextColor;
                  font-size: $fontSize - 2;
                  font-weight: 700;
                  line-height: 16px;
                  @include border-radius(50%);
              }

              > li {
                  float: right;  
                  padding-top: 14px;             
                  //margin-left: 20px;

                  > a {
                      color: $topbarTextColor;
                      position: relative;

                      .topbar-item-name {
                          display: none;
                      }

                      

                      i {
                         // font-size: 32px;
                          color: $topbarTextColor;
                         

                          &:hover {
                            color: darken($topbarTextColor, 10%);
                          }
                      }

                      em{
                      //  font-size: 32px;
                        color: $topbarTextColor;
                        margin-right: 1em;
                        font-size: 20px !important;

                        &:hover {
                          color: darken($topbarTextColor, 10%);
                        }
                    }

                      .topbar-badge {
                          position: absolute;
                          right: -4px;
                          top: -24px;
                      }
                  }


                  > ul {
                      position: absolute;
                      top: 60px;
                      right: 45px;
                      display: none;
                      width: 250px;
                      background-color: $topbarBorderColor;
                      -webkit-animation-duration: .5s;
                      -moz-animation-duration: .5s;
                      animation-duration: .5s;
                      list-style-type: none;
                      margin: 0;
                      padding: 8px 0;
                      border-top: 4px solid $primaryColor;
                  

                      a {
                          padding: 10px 10px 10px 10px;
                          display: block;
                          width: 100%;
                          box-sizing: border-box;
                          color: $textColor;

                          i {
                              color: $textSecondaryColor;
                              margin-right: 8px;
                          }

                          em {
                            color: $textSecondaryColor;
                            margin-right: 8px;
                            }

                          img {
                              margin-right: 8px;
                          }

                          i,img,span,em {
                              vertical-align: middle;
                              display: inline-block;
                          }

                          .topbar-submenuitem-badge {
                              background-color: $accentColor;
                              padding: 2px 4px;
                              display: block;
                              font-size: 12px;
                              @include border-radius($borderRadius);
                              color: $accentTextColor;
                              float: right;
                          }

                          &:hover {
                              background-color: $topbarSubmenuHoverBgColor;
                              @include transition(background-color $transitionDuration);
                              
                              i {
                                  color: $textColor;
                              }
                              em {
                                color: $textColor;
                                }
                          }
                      }

                      &:before {
                          width: 0;
                          height: 0;
                          border-left: 8px solid transparent;
                          border-right: 8px solid transparent;
                          border-bottom: 15px solid $primaryColor;
                          content: " ";
                          position: absolute;
                          top: -15px;
                          left: 232px;
                     }
                  }

                  &.active-topmenuitem {
                    
                      > ul {
                          display: block;
                      }
                  }
              }

              .mobile-item{
                display: none;
              }
          }
      }
    }

    &.layout-sidebar-active {
        .layout-topbar {
         .menu-btn {
            em {
              //  transform: rotate(-180deg);
                transition: 0.3s;
            }
         }
        }

    }
}
@-webkit-keyframes fadeInDown {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, -20px, 0);
      transform: translate3d(0, -20px, 0); }
    to {
      opacity: 1;
      -webkit-transform: none;
      transform: none; } }
  @keyframes fadeInDown {
    from {
      opacity: 0;
      transform: translate3d(0, -20px, 0); }
    to {
      opacity: 1;
      transform: none; } }
  @-webkit-keyframes fadeOutUp {
    from {
      opacity: 1; }
    to {
      opacity: 0;
      -webkit-transform: translate3d(0, -20px, 0);
      transform: translate3d(0, -20px, 0); } }
  @keyframes fadeOutUp {
    from {
      opacity: 1; }
    to {
      opacity: 0;
      -webkit-transform: translate3d(0, -20px, 0);
      transform: translate3d(0, -20px, 0); } }
  .fadeInDown {
    -webkit-animation: fadeInDown 5s;
    /* Safari 4.0 - 8.0 */
    animation: fadeInDown 5s; }
  
  .fadeOutUp {
    -webkit-animation: fadeOutUp 0.3s;
    /* Safari 4.0 - 8.0 */
    animation: fadeOutUp 0.3s; }
    
@media (max-width: 1024px) {
    .layout-wrapper {
        .layout-topbar {

            .logo-cop {
                margin-left: 1.25em;
                display: none;
                
            }
         
            .menu-btn {
                display: inline-block !important;
            }

            .mobile-topbar-menu-btn{
              @include border-radius(20px);
              border: 1px solid $loginTextColor;
              background: transparent;
           //   box-shadow: 0 3px 10px rgba(0, 0, 0, 0.23), 0 3px 10px rgba(0, 0, 0, 0.16);
              color: $loginTextColor;
              height: 2em;
              min-width: 2em;
              float: right;
              display: block;
              font-size: 1em;
              margin: 11px 0 0 0;
              
    
              &:hover{
                background: $loginTextColor;
                color: $topbarAccentBgColor;
                border: 1px solid  $loginTextColor;

                .ui-button-icon-right {
                    width: 1em;
                    height: 1em;
                    color:$topbarAccentBgColor;
                }
              }
    
              .ui-button-icon-right {
                  width: 1em;
                  height: 1em;
                  color:$loginTextColor;
              }

              .ui-button-text {
                display: none;
              }

              .ui-button-icon-right {
                right: 50%;
                margin-right: -.5em;
                font-size: 32px;
            } 

            }
            .topbar-button {
             

                .ui-button-icon-right {
                    right: 50%;
                    margin-right: -.6em;
                }  
            }

            .layout-topbar-menu-wrapper {
              .topbar-menu{
               
                -webkit-animation-duration: .5s;
                -moz-animation-duration: .5s;
                animation-duration: .5s;
                text-align: left;
                @include overlay-shadow();

              /*  &:before {
                  width: 0;
                  height: 0;
                  border-left: 8px solid transparent;
                  border-right: 8px solid transparent;
                  border-bottom: 15px solid $primaryColor;
                  content: " ";
                  position: absolute;
                  top: -15px;
                  left: 232px;
              }
*/
              &.topbar-menu-active {
                position: fixed;
                top: 75px;
                right: 30px;
                width: 250px;
                display: block;
                padding: 8px 0;
                background-color: $topbarBgColor;
                border-top: 4px solid $primaryColor;

                > li {
                  float: none;
                  display: block;
                  margin: 0;

                 

                  > a {
                    padding: 8px 14px;
                    display: block;
                    color: $textColor;

                    &:hover {
                        background-color: $hoverBgColor;
                        
                        i {
                            color: $textColor;
                        }

                        em {
                            color: $textColor;
                        }
                    }

                    i {
                        color: $textSecondaryColor;
                        display: inline-block;
                        vertical-align: middle;
                        margin-right: 8px;
                    }

                    em {
                        color: $textSecondaryColor;
                        display: inline-block;
                        vertical-align: middle;
                        margin-right: 8px;
                    }

                    .topbar-item-name {
                        display: inline-block;
                        vertical-align: middle;
                    }

                   

                    .topbar-badge {
                        position: static;
                        float: right;
                        margin-top: 4px;
                    }
                  }

                   > ul {
                    position: static;
                    @include no-shadow();
                    padding: 0;
                    width: 100%;
                    border-top: 0 none;
                    @include box-sizing(border-box);

                    &:before {
                        display: none;
                    }

                    a {
                        padding-left: 28px;
                    }
                  }
                  &.profile-item {
                    img {
                        width: 24px;
                        height: 24px;
                      }
                  }


                }
              }

              li {
                a {
                    font-size: $fontSize;

                    i {
                        font-size: 24px;
                    }

                    
                    em {
                        font-size: 24px;
                    }
                }

                .mobile-item{
                  display: inline-block;
                  vertical-align: middle;
                }

                &.search-item {
                    padding: 8px 14px;

                    input {
                        padding: 2px 2px 1px 2px;
                        border-color: $textSecondaryColor;
                        border-width: 0 0 1px 0;
                        border-style: solid;
                        color: $textColor;
                        margin-left: 28px;
                        width: 85%;

                        &:focus {
                            border-bottom-color: $primaryColor;
                            border-width: 0 0 2px 0;
                            width: 85%;

                            ~ i {
                                color: $primaryColor;
                            }

                            ~ em {
                                color: $primaryColor;
                            }

                            ~ label {
                                color: $primaryColor;
                                top: -15px;
                            }
                        }
                    }

                    i {
                        color: $textSecondaryColor;
                        right: auto;
                        left: 0px;
                    }

                    em {
                        color: $textSecondaryColor;
                        right: auto;
                        left: 0px;
                    }

                    label {
                        color: $textSecondaryColor;
                        left: 32px;
                        margin-top: 0;
                        }
                    }
                }


              }

            }
        }
    }
}

@media (max-width: 1210px) {
    .layout-wrapper {
        .layout-topbar {
            .logo-cop {
                margin-left: 15em;
            }
        }
    }

}
