//table
.ui-table .ui-table-thead > tr > th, .ui-table .ui-table-tbody > tr > td, .ui-table .ui-table-tfoot > tr > td {
    word-wrap: break-word;
    text-align: left;
}
.ui-table table { 
    width: 100% !important;
  }

.ui-table .ui-table-thead>tr>th, .ui-table .ui-table-tbody>tr>td, .ui-table .ui-table-tfoot>tr>td {
    padding: .83em 1em .83em 1em;
}
  
.ui-table .ui-table-thead > tr > th, .ui-table .ui-table-tfoot > tr > td {
    background-color: #F1F1F1;
    border-color: #F1F1F1;
}

.ui-table .ui-table-tbody > tr {
    background-color: $textSecondaryColor;
    color: #222222;
    border: 1px solid #F1F1F1F1;
}

.ui-table .ui-table-tbody > tr > td {
    border: none;
    background-color: inherit;
}

.ui-paginator {
    padding: .83em;
    background: #F1F1F1;
    border: 1px solid #F1F1F1;
}

.ui-paginator .ui-paginator-page.ui-state-active {
    background: $primaryColor;
    color: $textSecondaryColor;
    border-color: $primaryColor;
}

.ui-table-caption, .ui-table-summary {
    padding: .4em .5em;
}

.ui-widget-header {
    background: $textSecondaryColor;
    border: 1px solid $textSecondaryColor;
}

.ui-table .ui-sortable-column.ui-state-highlight {
    background-color: $primaryColor;
    color: $textSecondaryColor;
}

.col1{
    width:220px;
}
.col2{
    width:160px;
}
.col3{
    width:100px;
}
.col6{
    width:150px;
}
.col7{
    width:170px;
}
.col8{
    width:350px;
}

.col9{
    width:350px;
}

.col11{
    width:110px;
}

.col12{
    width:130px;
}
.col14{
    width:80px;
}

.ui-widget-header a {
    color: #1468AE;

    &:hover{
        color: #1B4673;
        text-decoration: underline;
    }
    
}

@media (max-width: 640px){
    .col14{
        width:100%;
    }
}