/* COMMON */
$textColor:#3F4F58;
$accentTextColor: #868E96;
$textSecondaryColor:#FFFFFF;
$fontSize:14px;

/* FORMS */
$inputBgColor:#ffffff;
$inputPadding:.429em;
$inputBorderColor:#c5c2c2;
$inputTransitionDuration:.3s;
$inputHoverBorderColor:#424242;
$inputFocusBorderColor:#424242;

/* Button color */

//Secundary
$secundary: #FFDD00;
$secundaryColor: #f4f4f4;
$borderSecundaryColor: 1px solid #f4f4f4;
$textSecundaryColor: #333333;
$accentSecundaryDarkColor: #8b8a8a;
$accentSecundaryColor: #6b6a6a;

/* Predefined Colors */
$blue:#147df0;
$pink:#ed3c76;
$green:#3e9018;
$red:#da2f31;
$orange:#ffb200;
$teal:#599597;
$purple:#633ea5;
$black:#000000;
$yellow:#ffd644;
$grayBgColor:#757575;
$white: #FFFFFF;


$primaryColor:#0076BD;
$primaryDarkColor:#00426D;
$primaryLightColor:#21A0D9;
$primaryLightestColor:#F1F4F9;

$primaryTextColor:#ffffff;

$accentColor:#FFB300;
$accentLightColor: #FFDD00;


/*form*/
$invalidInputLabelColor:#e62a10;

/*assistivas*/
$errorColor: #EB330B;
$alertColor: #F2A500;
$successColor: #1FA22E;
$strokeFormsColor: #9FB3BC;

/*cinzas*/
$greyColor: #C2C6CB;
$greyDarColor: #868E96;
$greyDarkestColor:#3F4F58;
$greyLightColor: #F1F1F1;
$greyLightestColor: #F1F4F9;

