<div class="layout-breadcrumb">
    <ul>
        <!--<li><a routerLink=""><em class="pi pi-fw pi-home"></em></a></li>
        <li>/</li> -->
        <li>
            <ng-template ngFor let-item let-last="last" [ngForOf]="items">
                <li>
                      <a [routerLink]="item.routerLink" *ngIf="item.routerLink">{{item.label}}</a>
                    <ng-container *ngIf="!item.routerLink"></ng-container>
                </li>
            <!-- <li *ngIf="!last">/</li> -->
            </ng-template>
         </li>
    </ul>

</div>